#main{
    display: flex;
    justify-content:space-around;
    
}

.dropdown-container{
    border: 2px;
}

.detail-container{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 60%;
}